# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Environment
.env

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations cache
alembic/versions/__pycache__/

# Python cache
*.egg-info/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/